<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>User Task Management</title>
</head>

<body>
    <header class="header">
        <h1>Task Management System</h1>
        <nav class="nav">
            <a href="/add-user">Add User</a> |
            <a href="/add-task">Add Task</a> |
            <a href="/export-data">Export Data</a>
        </nav>
    </header>
    <main class="main-content">
        {{{body}}}
    </main>
</body>

</html>